<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>日高零奈</string>
<key>shortcut</key>
<string>ひだかれいな</string>
</dict>
<dict>
<key>phrase</key>
<string>日高</string>
<key>shortcut</key>
<string>ひだか</string>
</dict>
<dict>
<key>phrase</key>
<string>零奈</string>
<key>shortcut</key>
<string>れいな</string>
</dict>
<dict>
<key>phrase</key>
<string>東雲和音</string>
<key>shortcut</key>
<string>しののめかずね</string>
</dict>
<dict>
<key>phrase</key>
<string>東雲</string>
<key>shortcut</key>
<string>しののめ</string>
</dict>
<dict>
<key>phrase</key>
<string>和音</string>
<key>shortcut</key>
<string>かずね</string>
</dict>
<dict>
<key>phrase</key>
<string>茅野ふたば</string>
<key>shortcut</key>
<string>かやのふたば</string>
</dict>
<dict>
<key>phrase</key>
<string>茅野</string>
<key>shortcut</key>
<string>かやの</string>
</dict>
<dict>
<key>phrase</key>
<string>桜乃美々兎</string>
<key>shortcut</key>
<string>さくらのみみと</string>
</dict>
<dict>
<key>phrase</key>
<string>桜乃</string>
<key>shortcut</key>
<string>さくらの</string>
</dict>
<dict>
<key>phrase</key>
<string>美々兎</string>
<key>shortcut</key>
<string>みみと</string>
</dict>
<dict>
<key>phrase</key>
<string>水上雛</string>
<key>shortcut</key>
<string>みなかみひな</string>
</dict>
<dict>
<key>phrase</key>
<string>水上</string>
<key>shortcut</key>
<string>みなかみ</string>
</dict>
<dict>
<key>phrase</key>
<string>雛</string>
<key>shortcut</key>
<string>ひな</string>
</dict>
<dict>
<key>phrase</key>
<string>犬吠埼紫杏</string>
<key>shortcut</key>
<string>いぬぼうさきしあん</string>
</dict>
<dict>
<key>phrase</key>
<string>犬吠埼</string>
<key>shortcut</key>
<string>いぬぼうさき</string>
</dict>
<dict>
<key>phrase</key>
<string>紫杏</string>
<key>shortcut</key>
<string>しあん</string>
</dict>
<dict>
<key>phrase</key>
<string>黒鉄たま</string>
<key>shortcut</key>
<string>くろがねたま</string>
</dict>
<dict>
<key>phrase</key>
<string>黒鉄</string>
<key>shortcut</key>
<string>くろがね</string>
</dict>
<dict>
<key>phrase</key>
<string>白金煌</string>
<key>shortcut</key>
<string>しろかねあき</string>
</dict>
<dict>
<key>phrase</key>
<string>白金</string>
<key>shortcut</key>
<string>しろかね</string>
</dict>
<dict>
<key>phrase</key>
<string>煌</string>
<key>shortcut</key>
<string>あき</string>
</dict>
<dict>
<key>phrase</key>
<string>灰島銀華</string>
<key>shortcut</key>
<string>はいじまぎんか</string>
</dict>
<dict>
<key>phrase</key>
<string>灰島</string>
<key>shortcut</key>
<string>はいじま</string>
</dict>
<dict>
<key>phrase</key>
<string>銀華</string>
<key>shortcut</key>
<string>ぎんか</string>
</dict>
<dict>
<key>phrase</key>
<string>鳳凰火凛</string>
<key>shortcut</key>
<string>ほうおうかりん</string>
</dict>
<dict>
<key>phrase</key>
<string>鳳凰</string>
<key>shortcut</key>
<string>ほうおう</string>
</dict>
<dict>
<key>phrase</key>
<string>火凛</string>
<key>shortcut</key>
<string>かりん</string>
</dict>
<dict>
<key>phrase</key>
<string>瀬戸海月</string>
<key>shortcut</key>
<string>せとみつき</string>
</dict>
<dict>
<key>phrase</key>
<string>瀬戸</string>
<key>shortcut</key>
<string>せと</string>
</dict>
<dict>
<key>phrase</key>
<string>海月</string>
<key>shortcut</key>
<string>みつき</string>
</dict>
<dict>
<key>phrase</key>
<string>大賀ルキア</string>
<key>shortcut</key>
<string>たいがるきあ</string>
</dict>
<dict>
<key>phrase</key>
<string>大賀</string>
<key>shortcut</key>
<string>たいが</string>
</dict>
<dict>
<key>phrase</key>
<string>大神纏</string>
<key>shortcut</key>
<string>おおがみまとい</string>
</dict>
<dict>
<key>phrase</key>
<string>大神</string>
<key>shortcut</key>
<string>おおがみ</string>
</dict>
<dict>
<key>phrase</key>
<string>纏</string>
<key>shortcut</key>
<string>まとい</string>
</dict>
<dict>
<key>phrase</key>
<string>安倍=シャクジ=摩耶</string>
<key>shortcut</key>
<string>あべのしゃくじまや</string>
</dict>
<dict>
<key>phrase</key>
<string>安倍</string>
<key>shortcut</key>
<string>あべの</string>
</dict>
<dict>
<key>phrase</key>
<string>摩耶</string>
<key>shortcut</key>
<string>まや</string>
</dict>
<dict>
<key>phrase</key>
<string>舞熊莉衣玖</string>
<key>shortcut</key>
<string>まいくまりいく</string>
</dict>
<dict>
<key>phrase</key>
<string>舞熊</string>
<key>shortcut</key>
<string>まいくま</string>
</dict>
<dict>
<key>phrase</key>
<string>莉衣玖</string>
<key>shortcut</key>
<string>りいく</string>
</dict>
<dict>
<key>phrase</key>
<string>蔀祐佳</string>
<key>shortcut</key>
<string>しどみゆうか</string>
</dict>
<dict>
<key>phrase</key>
<string>蔀</string>
<key>shortcut</key>
<string>しどみ</string>
</dict>
<dict>
<key>phrase</key>
<string>祐佳</string>
<key>shortcut</key>
<string>ゆうか</string>
</dict>
<dict>
<key>phrase</key>
<string>天音みほ</string>
<key>shortcut</key>
<string>あまねみほ</string>
</dict>
<dict>
<key>phrase</key>
<string>天音</string>
<key>shortcut</key>
<string>あまね</string>
</dict>
<dict>
<key>phrase</key>
<string>堀越せな</string>
<key>shortcut</key>
<string>ほりこしせな</string>
</dict>
<dict>
<key>phrase</key>
<string>堀越</string>
<key>shortcut</key>
<string>ほりこし</string>
</dict>
<dict>
<key>phrase</key>
<string>小坂井祐莉絵</string>
<key>shortcut</key>
<string>こざかいゆりえ</string>
</dict>
<dict>
<key>phrase</key>
<string>小坂井</string>
<key>shortcut</key>
<string>こざかい</string>
</dict>
<dict>
<key>phrase</key>
<string>祐莉絵</string>
<key>shortcut</key>
<string>ゆりえ</string>
</dict>
<dict>
<key>phrase</key>
<string>大森日雅</string>
<key>shortcut</key>
<string>おおもりにちか</string>
</dict>
<dict>
<key>phrase</key>
<string>大森</string>
<key>shortcut</key>
<string>おおもり</string>
</dict>
<dict>
<key>phrase</key>
<string>日雅</string>
<key>shortcut</key>
<string>にちか</string>
</dict>
<dict>
<key>phrase</key>
<string>長谷川玲奈</string>
<key>shortcut</key>
<string>はせがわれな</string>
</dict>
<dict>
<key>phrase</key>
<string>長谷川</string>
<key>shortcut</key>
<string>はせがわ</string>
</dict>
<dict>
<key>phrase</key>
<string>玲奈</string>
<key>shortcut</key>
<string>れな</string>
</dict>
<dict>
<key>phrase</key>
<string>秋奈</string>
<key>shortcut</key>
<string>あきな</string>
</dict>
<dict>
<key>phrase</key>
<string>小宮有紗</string>
<key>shortcut</key>
<string>こみやありさ</string>
</dict>
<dict>
<key>phrase</key>
<string>小宮</string>
<key>shortcut</key>
<string>こみや</string>
</dict>
<dict>
<key>phrase</key>
<string>有紗</string>
<key>shortcut</key>
<string>ありさ</string>
</dict>
<dict>
<key>phrase</key>
<string>澁谷梓希</string>
<key>shortcut</key>
<string>しぶやあずき</string>
</dict>
<dict>
<key>phrase</key>
<string>澁谷</string>
<key>shortcut</key>
<string>しぶや</string>
</dict>
<dict>
<key>phrase</key>
<string>梓希</string>
<key>shortcut</key>
<string>あずき</string>
</dict>
<dict>
<key>phrase</key>
<string>健屋花那</string>
<key>shortcut</key>
<string>すこやかな</string>
</dict>
<dict>
<key>phrase</key>
<string>健屋</string>
<key>shortcut</key>
<string>すこや</string>
</dict>
<dict>
<key>phrase</key>
<string>花那</string>
<key>shortcut</key>
<string>かな</string>
</dict>
<dict>
<key>phrase</key>
<string>シスター・クレア</string>
<key>shortcut</key>
<string>しすたーくれあ</string>
</dict>
<dict>
<key>phrase</key>
<string>星川サラ</string>
<key>shortcut</key>
<string>ほしかわさら</string>
</dict>
<dict>
<key>phrase</key>
<string>星川</string>
<key>shortcut</key>
<string>ほしかわ</string>
</dict>
<dict>
<key>phrase</key>
<string>Mika Pikazo</string>
<key>shortcut</key>
<string>みかぴかぞ</string>
</dict>
<dict>
<key>phrase</key>
<string>子川拓哉</string>
<key>shortcut</key>
<string>ねがわたくや</string>
</dict>
<dict>
<key>phrase</key>
<string>子川</string>
<key>shortcut</key>
<string>ねがわ</string>
</dict>
<dict>
<key>phrase</key>
<string>拓哉</string>
<key>shortcut</key>
<string>たくや</string>
</dict>
<dict>
<key>phrase</key>
<string>石田裕亮</string>
<key>shortcut</key>
<string>いしだゆうすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>石田</string>
<key>shortcut</key>
<string>いしだ</string>
</dict>
<dict>
<key>phrase</key>
<string>裕亮</string>
<key>shortcut</key>
<string>ゆうすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>松田悠太郎</string>
<key>shortcut</key>
<string>まつだゆうたろう</string>
</dict>
<dict>
<key>phrase</key>
<string>松田</string>
<key>shortcut</key>
<string>まつだ</string>
</dict>
<dict>
<key>phrase</key>
<string>悠太郎</string>
<key>shortcut</key>
<string>ゆうたろう</string>
</dict>
<dict>
<key>phrase</key>
<string>渡辺量</string>
<key>shortcut</key>
<string>わたなべりょう</string>
</dict>
<dict>
<key>phrase</key>
<string>渡辺</string>
<key>shortcut</key>
<string>わたなべ</string>
</dict>
<dict>
<key>phrase</key>
<string>量</string>
<key>shortcut</key>
<string>りょう</string>
</dict>
<dict>
<key>phrase</key>
<string>アイドル狂戦士</string>
<key>shortcut</key>
<string>あいどるばーさーかー</string>
</dict>
<dict>
<key>phrase</key>
<string>Mani Mani</string>
<key>shortcut</key>
<string>まにまに</string>
</dict>
<dict>
<key>phrase</key>
<string>Favorite Days</string>
<key>shortcut</key>
<string>ふぇいばりっとでいず</string>
</dict>
<dict>
<key>phrase</key>
<string>Hyper Bass</string>
<key>shortcut</key>
<string>はいぱーべーす</string>
</dict>
<dict>
<key>phrase</key>
<string>Hyper Bass</string>
<key>shortcut</key>
<string>はいぱぁべぇす</string>
</dict>
<dict>
<key>phrase</key>
<string>good night baby</string>
<key>shortcut</key>
<string>ぐっどないとべいびー</string>
</dict>
<dict>
<key>phrase</key>
<string>ミルキータイムライン</string>
<key>shortcut</key>
<string>みるきーたいむらいん</string>
</dict>
<dict>
<key>phrase</key>
<string>Princess Memeism</string>
<key>shortcut</key>
<string>ぷりんせすみーみずむ</string>
</dict>
<dict>
<key>phrase</key>
<string>Haiiro no kokoro</string>
<key>shortcut</key>
<string>はいいろのこころ</string>
</dict>
<dict>
<key>phrase</key>
<string>MUSIC IS MAGIC</string>
<key>shortcut</key>
<string>みゅーじっくいずまじっく</string>
</dict>
<dict>
<key>phrase</key>
<string>いただきバベル</string>
<key>shortcut</key>
<string>いただきばべる</string>
</dict>
<dict>
<key>phrase</key>
<string>NANAIRO STAGE</string>
<key>shortcut</key>
<string>なないろすてーじ</string>
</dict>
<dict>
<key>phrase</key>
<string>ペトリコールを渡って</string>
<key>shortcut</key>
<string>ぺとりこーるをわたって</string>
</dict>
<dict>
<key>phrase</key>
<string>Shining Lights</string>
<key>shortcut</key>
<string>しゃいにんぐらいつ</string>
</dict>
<dict>
<key>phrase</key>
<string>電脳ロリポップ</string>
<key>shortcut</key>
<string>でんのうろりぽっぷ</string>
</dict>
<dict>
<key>phrase</key>
<string>Blank Paper</string>
<key>shortcut</key>
<string>ぶらんくぺーぱー</string>
</dict>
<dict>
<key>phrase</key>
<string>ドキドキパリラルラ</string>
<key>shortcut</key>
<string>どきどきぱりらるら</string>
</dict>
<dict>
<key>phrase</key>
<string>Hand Over</string>
<key>shortcut</key>
<string>はんどおーばー</string>
</dict>
<dict>
<key>phrase</key>
<string>Future</string>
<key>shortcut</key>
<string>ふゅーちゃー</string>
</dict>
<dict>
<key>phrase</key>
<string>Where Is The Love</string>
<key>shortcut</key>
<string>うぇあいずざらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>In my world</string>
<key>shortcut</key>
<string>いんまいわーるど</string>
</dict>
<dict>
<key>phrase</key>
<string>ベルカ</string>
<key>shortcut</key>
<string>べるか</string>
</dict>
<dict>
<key>phrase</key>
<string>KOI WAZURAI</string>
<key>shortcut</key>
<string>こいわずらい</string>
</dict>
<dict>
<key>phrase</key>
<string>touch me</string>
<key>shortcut</key>
<string>たっちみー</string>
</dict>
<dict>
<key>phrase</key>
<string>シロプスα</string>
<key>shortcut</key>
<string>しろぷすあるふぁ</string>
</dict>
<dict>
<key>phrase</key>
<string>Do You Even DJ?</string>
<key>shortcut</key>
<string>どぅゆーいーぶんでぃーじぇー</string>
</dict>
<dict>
<key>phrase</key>
<string>twilight</string>
<key>shortcut</key>
<string>とわいらいと</string>
</dict>
<dict>
<key>phrase</key>
<string>Let Me Know</string>
<key>shortcut</key>
<string>れっとみーのー</string>
</dict>
<dict>
<key>phrase</key>
<string>Let Me Know</string>
<key>shortcut</key>
<string>れみのー</string>
</dict>
<dict>
<key>phrase</key>
<string>悪魔のララバイ</string>
<key>shortcut</key>
<string>あくまのららばい</string>
</dict>
<dict>
<key>phrase</key>
<string>pop enemy</string>
<key>shortcut</key>
<string>ぽっぷえねみー</string>
</dict>
<dict>
<key>phrase</key>
<string>Chick Chick love♡</string>
<key>shortcut</key>
<string>ちっくちっくらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>Chick Chick love♡</string>
<key>shortcut</key>
<string>ちくちくらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>アイドル Break All</string>
<key>shortcut</key>
<string>あいどるぶれーくおーる</string>
</dict>
<dict>
<key>phrase</key>
<string>アイドル Break All</string>
<key>shortcut</key>
<string>あいどるぶれいくおーる</string>
</dict>
<dict>
<key>phrase</key>
<string>JUNGLE WAHHOI</string>
<key>shortcut</key>
<string>じゃんぐるわっほい</string>
</dict>
<dict>
<key>phrase</key>
<string>Misty Love</string>
<key>shortcut</key>
<string>みすてぃーらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>Misty Love</string>
<key>shortcut</key>
<string>みすてぃらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>トアルトワ</string>
<key>shortcut</key>
<string>とあるとわ</string>
</dict>
<dict>
<key>phrase</key>
<string>Eat Sleep Dance</string>
<key>shortcut</key>
<string>いーとすりーぷだんす</string>
</dict>
<dict>
<key>phrase</key>
<string>Catch a Fire</string>
<key>shortcut</key>
<string>きゃっちあふぁいやー</string>
</dict>
<dict>
<key>phrase</key>
<string>Catch a Fire</string>
<key>shortcut</key>
<string>きゃっちゃふぁいやー</string>
</dict>
<dict>
<key>phrase</key>
<string>MIDNIGHT TOWN</string>
<key>shortcut</key>
<string>みっどないとたうん</string>
</dict>
<dict>
<key>phrase</key>
<string>アキバサイクル</string>
<key>shortcut</key>
<string>あきばさいくる</string>
</dict>
<dict>
<key>phrase</key>
<string>Love me harder</string>
<key>shortcut</key>
<string>らぶみーはーだー</string>
</dict>
<dict>
<key>phrase</key>
<string>Night Flying</string>
<key>shortcut</key>
<string>ないとふらいんぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>Inverted Pyramid</string>
<key>shortcut</key>
<string>いんばーてぃっどぴらみっど</string>
</dict>
<dict>
<key>phrase</key>
<string>メロディーの抱擁</string>
<key>shortcut</key>
<string>めろでぃーのほうよう</string>
</dict>
<dict>
<key>phrase</key>
<string>CHAMPION GIRL</string>
<key>shortcut</key>
<string>ちゃんぴおんがーる</string>
</dict>
<dict>
<key>phrase</key>
<string>Distortion</string>
<key>shortcut</key>
<string>でぃすとーしょん</string>
</dict>
<dict>
<key>phrase</key>
<string>Intersection</string>
<key>shortcut</key>
<string>いんたーせくしょん</string>
</dict>
<dict>
<key>phrase</key>
<string>Find Me</string>
<key>shortcut</key>
<string>ふぁいんどみー</string>
</dict>
<dict>
<key>phrase</key>
<string>Beat Me!</string>
<key>shortcut</key>
<string>びーとみー</string>
</dict>
<dict>
<key>phrase</key>
<string>爆裂タウマゼイン</string>
<key>shortcut</key>
<string>ばくれつたうまぜいん</string>
</dict>
<dict>
<key>phrase</key>
<string>ウサギとカメ</string>
<key>shortcut</key>
<string>うさぎとかめ</string>
</dict>
<dict>
<key>phrase</key>
<string>No More</string>
<key>shortcut</key>
<string>のーもあ</string>
</dict>
<dict>
<key>phrase</key>
<string>しあわせの魔法</string>
<key>shortcut</key>
<string>しあわせのまほう</string>
</dict>
<dict>
<key>phrase</key>
<string>Sirens in the Beginning</string>
<key>shortcut</key>
<string>さいれんずいんざびぎにんぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>NEW FRONTIER!</string>
<key>shortcut</key>
<string>にゅーふろんてぃあ</string>
</dict>
<dict>
<key>phrase</key>
<string>REIGN</string>
<key>shortcut</key>
<string>れいん</string>
</dict>
<dict>
<key>phrase</key>
<string>We Will</string>
<key>shortcut</key>
<string>うぃーうぃる</string>
</dict>
<dict>
<key>phrase</key>
<string>Sweet Operation</string>
<key>shortcut</key>
<string>すうぃーとおぺれーしょん</string>
</dict>
<dict>
<key>phrase</key>
<string>Spot AA</string>
<key>shortcut</key>
<string>すぽっとえーえー</string>
</dict>
<dict>
<key>phrase</key>
<string>I'm alive with this town</string>
<key>shortcut</key>
<string>あいむあらいぶうぃずでぃすたうん</string>
</dict>
<dict>
<key>phrase</key>
<string>Platinum White</string>
<key>shortcut</key>
<string>ぷらちなほわいと</string>
</dict>
<dict>
<key>phrase</key>
<string>夜明けのアンセム</string>
<key>shortcut</key>
<string>よあけのあんせむ</string>
</dict>
<dict>
<key>phrase</key>
<string>月読のダンス</string>
<key>shortcut</key>
<string>つくよみのだんす</string>
</dict>
<dict>
<key>phrase</key>
<string>Do You Even DJ? 2nd</string>
<key>shortcut</key>
<string>どぅゆーいーぶんでぃーじぇーせかんど</string>
</dict>
<dict>
<key>phrase</key>
<string>Sync My Lights</string>
<key>shortcut</key>
<string>しんくまいらいつ</string>
</dict>
<dict>
<key>phrase</key>
<string>麻布アウトバーン</string>
<key>shortcut</key>
<string>あざぶあうとばーん</string>
</dict>
<dict>
<key>phrase</key>
<string>IAM</string>
<key>shortcut</key>
<string>あいあむ</string>
</dict>
<dict>
<key>phrase</key>
<string>emeth</string>
<key>shortcut</key>
<string>えめと</string>
</dict>
<dict>
<key>phrase</key>
<string>TAKU INOUE</string>
<key>shortcut</key>
<string>たくいのうえ</string>
</dict>
<dict>
<key>phrase</key>
<string>TAKU INOUE</string>
<key>shortcut</key>
<string>いのたく</string>
</dict>
<dict>
<key>phrase</key>
<string>ケンモチヒデフミ</string>
<key>shortcut</key>
<string>けんもちひでふみ</string>
</dict>
<dict>
<key>phrase</key>
<string>DC Mizey</string>
<key>shortcut</key>
<string>でぃーしーみーじー</string>
</dict>
<dict>
<key>phrase</key>
<string>Neko Hacker</string>
<key>shortcut</key>
<string>ねこはっかー</string>
</dict>
<dict>
<key>phrase</key>
<string>市瀬るぽ</string>
<key>shortcut</key>
<string>いちのせるぽ</string>
</dict>
<dict>
<key>phrase</key>
<string>YUC'e</string>
<key>shortcut</key>
<string>ゆーしえ</string>
</dict>
<dict>
<key>phrase</key>
<string>雄之助</string>
<key>shortcut</key>
<string>ゆうのすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>安藤啓希</string>
<key>shortcut</key>
<string>あんどうひろき</string>
</dict>
<dict>
<key>phrase</key>
<string>石濱翔</string>
<key>shortcut</key>
<string>いしはまかける</string>
</dict>
<dict>
<key>phrase</key>
<string>PARKGOLF</string>
<key>shortcut</key>
<string>ぱーくごるふ</string>
</dict>
<dict>
<key>phrase</key>
<string>柿迫ヒカル</string>
<key>shortcut</key>
<string>かきさこひかる</string>
</dict>
<dict>
<key>phrase</key>
<string>半田彬倫</string>
<key>shortcut</key>
<string>はんだあきのり</string>
</dict>
<dict>
<key>phrase</key>
<string>KOTONOHOUSE</string>
<key>shortcut</key>
<string>ことのはうす</string>
</dict>
<dict>
<key>phrase</key>
<string>banvox</string>
<key>shortcut</key>
<string>ばんぼっくす</string>
</dict>
<dict>
<key>phrase</key>
<string>早川博隆</string>
<key>shortcut</key>
<string>はやかわひろたか</string>
</dict>
<dict>
<key>phrase</key>
<string>TEMPLIME</string>
<key>shortcut</key>
<string>てんぷらいむ</string>
</dict>
<dict>
<key>phrase</key>
<string>Moe Shop</string>
<key>shortcut</key>
<string>もえしょっぷ</string>
</dict>
<dict>
<key>phrase</key>
<string>KiWi</string>
<key>shortcut</key>
<string>きうぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>Tomggg</string>
<key>shortcut</key>
<string>とむぐぐぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>Nor</string>
<key>shortcut</key>
<string>のる</string>
</dict>
<dict>
<key>phrase</key>
<string>Aiobahn</string>
<key>shortcut</key>
<string>あいおばーん</string>
</dict>
<dict>
<key>phrase</key>
<string>周防パトラ</string>
<key>shortcut</key>
<string>すおうぱとら</string>
</dict>
<dict>
<key>phrase</key>
<string>Snail's House</string>
<key>shortcut</key>
<string>すねいるはうす</string>
</dict>
<dict>
<key>phrase</key>
<string>佐藤貴文</string>
<key>shortcut</key>
<string>さとうたかふみ</string>
</dict>
<dict>
<key>phrase</key>
<string>PSYQUI</string>
<key>shortcut</key>
<string>さいき</string>
</dict>
<dict>
<key>phrase</key>
<string>tofubeats</string>
<key>shortcut</key>
<string>とうふびーつ</string>
</dict>
<dict>
<key>phrase</key>
<string>電音部</string>
<key>shortcut</key>
<string>でんおんぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>外神田文芸高校</string>
<key>shortcut</key>
<string>そとかんだぶんげいこうこう</string>
</dict>
<dict>
<key>phrase</key>
<string>神宮前参道學園</string>
<key>shortcut</key>
<string>じんぐうまえさんどうがくえん</string>
</dict>
<dict>
<key>phrase</key>
<string>港白金女学院</string>
<key>shortcut</key>
<string>みなとしろかねじょがくいん</string>
</dict>
<dict>
<key>phrase</key>
<string>帝音国際学院</string>
<key>shortcut</key>
<string>ていおんこくさいがくいん</string>
</dict>
<dict>
<key>phrase</key>
<string>真新宿GR学園</string>
<key>shortcut</key>
<string>しんしんじゅくじーあーるがくえん</string>
</dict>
</array></plist>
