<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>日高零奈</string>
<key>shortcut</key>
<string>ひだかれいな</string>
</dict>
<dict>
<key>phrase</key>
<string>日高</string>
<key>shortcut</key>
<string>ひだか</string>
</dict>
<dict>
<key>phrase</key>
<string>零奈</string>
<key>shortcut</key>
<string>れいな</string>
</dict>
<dict>
<key>phrase</key>
<string>東雲和音</string>
<key>shortcut</key>
<string>しののめかずね</string>
</dict>
<dict>
<key>phrase</key>
<string>東雲</string>
<key>shortcut</key>
<string>しののめ</string>
</dict>
<dict>
<key>phrase</key>
<string>和音</string>
<key>shortcut</key>
<string>かずね</string>
</dict>
<dict>
<key>phrase</key>
<string>茅野ふたば</string>
<key>shortcut</key>
<string>かやのふたば</string>
</dict>
<dict>
<key>phrase</key>
<string>茅野</string>
<key>shortcut</key>
<string>かやの</string>
</dict>
<dict>
<key>phrase</key>
<string>桜乃美々兎</string>
<key>shortcut</key>
<string>さくらのみみと</string>
</dict>
<dict>
<key>phrase</key>
<string>桜乃</string>
<key>shortcut</key>
<string>さくらの</string>
</dict>
<dict>
<key>phrase</key>
<string>美々兎</string>
<key>shortcut</key>
<string>みみと</string>
</dict>
<dict>
<key>phrase</key>
<string>水上雛</string>
<key>shortcut</key>
<string>みなかみひな</string>
</dict>
<dict>
<key>phrase</key>
<string>水上</string>
<key>shortcut</key>
<string>みなかみ</string>
</dict>
<dict>
<key>phrase</key>
<string>雛</string>
<key>shortcut</key>
<string>ひな</string>
</dict>
<dict>
<key>phrase</key>
<string>犬吠埼紫杏</string>
<key>shortcut</key>
<string>いぬぼうさきしあん</string>
</dict>
<dict>
<key>phrase</key>
<string>犬吠埼</string>
<key>shortcut</key>
<string>いぬぼうさき</string>
</dict>
<dict>
<key>phrase</key>
<string>紫杏</string>
<key>shortcut</key>
<string>しあん</string>
</dict>
<dict>
<key>phrase</key>
<string>黒鉄たま</string>
<key>shortcut</key>
<string>くろがねたま</string>
</dict>
<dict>
<key>phrase</key>
<string>黒鉄</string>
<key>shortcut</key>
<string>くろがね</string>
</dict>
<dict>
<key>phrase</key>
<string>白金煌</string>
<key>shortcut</key>
<string>しろかねあき</string>
</dict>
<dict>
<key>phrase</key>
<string>白金</string>
<key>shortcut</key>
<string>しろかね</string>
</dict>
<dict>
<key>phrase</key>
<string>煌</string>
<key>shortcut</key>
<string>あき</string>
</dict>
<dict>
<key>phrase</key>
<string>灰島銀華</string>
<key>shortcut</key>
<string>はいじまぎんか</string>
</dict>
<dict>
<key>phrase</key>
<string>灰島</string>
<key>shortcut</key>
<string>はいじま</string>
</dict>
<dict>
<key>phrase</key>
<string>銀華</string>
<key>shortcut</key>
<string>ぎんか</string>
</dict>
<dict>
<key>phrase</key>
<string>鳳凰火凛</string>
<key>shortcut</key>
<string>ほうおうかりん</string>
</dict>
<dict>
<key>phrase</key>
<string>鳳凰</string>
<key>shortcut</key>
<string>ほうおう</string>
</dict>
<dict>
<key>phrase</key>
<string>火凛</string>
<key>shortcut</key>
<string>かりん</string>
</dict>
<dict>
<key>phrase</key>
<string>瀬戸海月</string>
<key>shortcut</key>
<string>せとみつき</string>
</dict>
<dict>
<key>phrase</key>
<string>瀬戸</string>
<key>shortcut</key>
<string>せと</string>
</dict>
<dict>
<key>phrase</key>
<string>海月</string>
<key>shortcut</key>
<string>みつき</string>
</dict>
<dict>
<key>phrase</key>
<string>大賀ルキア</string>
<key>shortcut</key>
<string>たいがるきあ</string>
</dict>
<dict>
<key>phrase</key>
<string>大賀</string>
<key>shortcut</key>
<string>たいが</string>
</dict>
<dict>
<key>phrase</key>
<string>大神纏</string>
<key>shortcut</key>
<string>おおがみまとい</string>
</dict>
<dict>
<key>phrase</key>
<string>大神</string>
<key>shortcut</key>
<string>おおがみ</string>
</dict>
<dict>
<key>phrase</key>
<string>纏</string>
<key>shortcut</key>
<string>まとい</string>
</dict>
<dict>
<key>phrase</key>
<string>安倍=シャクジ=摩耶</string>
<key>shortcut</key>
<string>あべのしゃくじまや</string>
</dict>
<dict>
<key>phrase</key>
<string>安倍</string>
<key>shortcut</key>
<string>あべの</string>
</dict>
<dict>
<key>phrase</key>
<string>摩耶</string>
<key>shortcut</key>
<string>まや</string>
</dict>
<dict>
<key>phrase</key>
<string>舞熊莉衣玖</string>
<key>shortcut</key>
<string>まいくまりいく</string>
</dict>
<dict>
<key>phrase</key>
<string>舞熊</string>
<key>shortcut</key>
<string>まいくま</string>
</dict>
<dict>
<key>phrase</key>
<string>莉衣玖</string>
<key>shortcut</key>
<string>りいく</string>
</dict>
<dict>
<key>phrase</key>
<string>蔀祐佳</string>
<key>shortcut</key>
<string>しどみゆうか</string>
</dict>
<dict>
<key>phrase</key>
<string>蔀</string>
<key>shortcut</key>
<string>しどみ</string>
</dict>
<dict>
<key>phrase</key>
<string>祐佳</string>
<key>shortcut</key>
<string>ゆうか</string>
</dict>
<dict>
<key>phrase</key>
<string>天音みほ</string>
<key>shortcut</key>
<string>あまねみほ</string>
</dict>
<dict>
<key>phrase</key>
<string>天音</string>
<key>shortcut</key>
<string>あまね</string>
</dict>
<dict>
<key>phrase</key>
<string>堀越せな</string>
<key>shortcut</key>
<string>ほりこしせな</string>
</dict>
<dict>
<key>phrase</key>
<string>堀越</string>
<key>shortcut</key>
<string>ほりこし</string>
</dict>
<dict>
<key>phrase</key>
<string>小坂井祐莉絵</string>
<key>shortcut</key>
<string>こざかいゆりえ</string>
</dict>
<dict>
<key>phrase</key>
<string>小坂井</string>
<key>shortcut</key>
<string>こざかい</string>
</dict>
<dict>
<key>phrase</key>
<string>祐莉絵</string>
<key>shortcut</key>
<string>ゆりえ</string>
</dict>
<dict>
<key>phrase</key>
<string>大森日雅</string>
<key>shortcut</key>
<string>おおもりにちか</string>
</dict>
<dict>
<key>phrase</key>
<string>大森</string>
<key>shortcut</key>
<string>おおもり</string>
</dict>
<dict>
<key>phrase</key>
<string>日雅</string>
<key>shortcut</key>
<string>にちか</string>
</dict>
<dict>
<key>phrase</key>
<string>長谷川玲奈</string>
<key>shortcut</key>
<string>はせがわれな</string>
</dict>
<dict>
<key>phrase</key>
<string>長谷川</string>
<key>shortcut</key>
<string>はせがわ</string>
</dict>
<dict>
<key>phrase</key>
<string>玲奈</string>
<key>shortcut</key>
<string>れな</string>
</dict>
<dict>
<key>phrase</key>
<string>秋奈</string>
<key>shortcut</key>
<string>あきな</string>
</dict>
<dict>
<key>phrase</key>
<string>小宮有紗</string>
<key>shortcut</key>
<string>こみやありさ</string>
</dict>
<dict>
<key>phrase</key>
<string>小宮</string>
<key>shortcut</key>
<string>こみや</string>
</dict>
<dict>
<key>phrase</key>
<string>有紗</string>
<key>shortcut</key>
<string>ありさ</string>
</dict>
<dict>
<key>phrase</key>
<string>澁谷梓希</string>
<key>shortcut</key>
<string>しぶやあずき</string>
</dict>
<dict>
<key>phrase</key>
<string>澁谷</string>
<key>shortcut</key>
<string>しぶや</string>
</dict>
<dict>
<key>phrase</key>
<string>梓希</string>
<key>shortcut</key>
<string>あずき</string>
</dict>
<dict>
<key>phrase</key>
<string>健屋花那</string>
<key>shortcut</key>
<string>すこやかな</string>
</dict>
<dict>
<key>phrase</key>
<string>健屋</string>
<key>shortcut</key>
<string>すこや</string>
</dict>
<dict>
<key>phrase</key>
<string>花那</string>
<key>shortcut</key>
<string>かな</string>
</dict>
<dict>
<key>phrase</key>
<string>シスター・クレア</string>
<key>shortcut</key>
<string>しすたーくれあ</string>
</dict>
<dict>
<key>phrase</key>
<string>星川サラ</string>
<key>shortcut</key>
<string>ほしかわさら</string>
</dict>
<dict>
<key>phrase</key>
<string>星川</string>
<key>shortcut</key>
<string>ほしかわ</string>
</dict>
<dict>
<key>phrase</key>
<string>吉田凜音</string>
<key>shortcut</key>
<string>よしだりんね</string>
</dict>
<dict>
<key>phrase</key>
<string>吉田</string>
<key>shortcut</key>
<string>よしだ</string>
</dict>
<dict>
<key>phrase</key>
<string>凜音</string>
<key>shortcut</key>
<string>りんね</string>
</dict>
<dict>
<key>phrase</key>
<string>SONOTA</string>
<key>shortcut</key>
<string>そのた</string>
</dict>
<dict>
<key>phrase</key>
<string>Mika Pikazo</string>
<key>shortcut</key>
<string>みかぴかぞ</string>
</dict>
<dict>
<key>phrase</key>
<string>子川拓哉</string>
<key>shortcut</key>
<string>ねがわたくや</string>
</dict>
<dict>
<key>phrase</key>
<string>子川</string>
<key>shortcut</key>
<string>ねがわ</string>
</dict>
<dict>
<key>phrase</key>
<string>拓哉</string>
<key>shortcut</key>
<string>たくや</string>
</dict>
<dict>
<key>phrase</key>
<string>石田裕亮</string>
<key>shortcut</key>
<string>いしだゆうすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>石田</string>
<key>shortcut</key>
<string>いしだ</string>
</dict>
<dict>
<key>phrase</key>
<string>裕亮</string>
<key>shortcut</key>
<string>ゆうすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>松田悠太郎</string>
<key>shortcut</key>
<string>まつだゆうたろう</string>
</dict>
<dict>
<key>phrase</key>
<string>松田</string>
<key>shortcut</key>
<string>まつだ</string>
</dict>
<dict>
<key>phrase</key>
<string>悠太郎</string>
<key>shortcut</key>
<string>ゆうたろう</string>
</dict>
<dict>
<key>phrase</key>
<string>渡辺量</string>
<key>shortcut</key>
<string>わたなべりょう</string>
</dict>
<dict>
<key>phrase</key>
<string>渡辺</string>
<key>shortcut</key>
<string>わたなべ</string>
</dict>
<dict>
<key>phrase</key>
<string>量</string>
<key>shortcut</key>
<string>りょう</string>
</dict>
</array></plist>
