<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>アイドル狂戦士</string>
<key>shortcut</key>
<string>あいどるばーさーかー</string>
</dict>
<dict>
<key>phrase</key>
<string>Mani Mani</string>
<key>shortcut</key>
<string>まにまに</string>
</dict>
<dict>
<key>phrase</key>
<string>Favorite Days</string>
<key>shortcut</key>
<string>ふぇいばりっとでいず</string>
</dict>
<dict>
<key>phrase</key>
<string>Hyper Bass</string>
<key>shortcut</key>
<string>はいぱーべーす</string>
</dict>
<dict>
<key>phrase</key>
<string>Hyper Bass</string>
<key>shortcut</key>
<string>はいぱぁべぇす</string>
</dict>
<dict>
<key>phrase</key>
<string>good night baby</string>
<key>shortcut</key>
<string>ぐっどないとべいびー</string>
</dict>
<dict>
<key>phrase</key>
<string>ミルキータイムライン</string>
<key>shortcut</key>
<string>みるきーたいむらいん</string>
</dict>
<dict>
<key>phrase</key>
<string>Princess Memeism</string>
<key>shortcut</key>
<string>ぷりんせすみーみずむ</string>
</dict>
<dict>
<key>phrase</key>
<string>Haiiro no kokoro</string>
<key>shortcut</key>
<string>はいいろのこころ</string>
</dict>
<dict>
<key>phrase</key>
<string>MUSIC IS MAGIC</string>
<key>shortcut</key>
<string>みゅーじっくいずまじっく</string>
</dict>
<dict>
<key>phrase</key>
<string>いただきバベル</string>
<key>shortcut</key>
<string>いただきばべる</string>
</dict>
<dict>
<key>phrase</key>
<string>NANAIRO STAGE</string>
<key>shortcut</key>
<string>なないろすてーじ</string>
</dict>
<dict>
<key>phrase</key>
<string>ペトリコールを渡って</string>
<key>shortcut</key>
<string>ぺとりこーるをわたって</string>
</dict>
<dict>
<key>phrase</key>
<string>Shining Lights</string>
<key>shortcut</key>
<string>しゃいにんぐらいつ</string>
</dict>
<dict>
<key>phrase</key>
<string>電脳ロリポップ</string>
<key>shortcut</key>
<string>でんのうろりぽっぷ</string>
</dict>
<dict>
<key>phrase</key>
<string>Blank Paper</string>
<key>shortcut</key>
<string>ぶらんくぺーぱー</string>
</dict>
<dict>
<key>phrase</key>
<string>ドキドキパリラルラ</string>
<key>shortcut</key>
<string>どきどきぱりらるら</string>
</dict>
<dict>
<key>phrase</key>
<string>Hand Over</string>
<key>shortcut</key>
<string>はんどおーばー</string>
</dict>
<dict>
<key>phrase</key>
<string>Future</string>
<key>shortcut</key>
<string>ふゅーちゃー</string>
</dict>
<dict>
<key>phrase</key>
<string>Where Is The Love</string>
<key>shortcut</key>
<string>うぇあいずざらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>In my world</string>
<key>shortcut</key>
<string>いんまいわーるど</string>
</dict>
<dict>
<key>phrase</key>
<string>ベルカ</string>
<key>shortcut</key>
<string>べるか</string>
</dict>
<dict>
<key>phrase</key>
<string>KOI WAZURAI</string>
<key>shortcut</key>
<string>こいわずらい</string>
</dict>
<dict>
<key>phrase</key>
<string>touch me</string>
<key>shortcut</key>
<string>たっちみー</string>
</dict>
<dict>
<key>phrase</key>
<string>シロプスα</string>
<key>shortcut</key>
<string>しろぷすあるふぁ</string>
</dict>
<dict>
<key>phrase</key>
<string>Do You Even DJ?</string>
<key>shortcut</key>
<string>どぅゆーいーぶんでぃーじぇー</string>
</dict>
<dict>
<key>phrase</key>
<string>twilight</string>
<key>shortcut</key>
<string>とわいらいと</string>
</dict>
<dict>
<key>phrase</key>
<string>Let Me Know</string>
<key>shortcut</key>
<string>れっとみーのー</string>
</dict>
<dict>
<key>phrase</key>
<string>Let Me Know</string>
<key>shortcut</key>
<string>れみのー</string>
</dict>
<dict>
<key>phrase</key>
<string>悪魔のララバイ</string>
<key>shortcut</key>
<string>あくまのららばい</string>
</dict>
<dict>
<key>phrase</key>
<string>pop enemy</string>
<key>shortcut</key>
<string>ぽっぷえねみー</string>
</dict>
<dict>
<key>phrase</key>
<string>Chick Chick love♡</string>
<key>shortcut</key>
<string>ちっくちっくらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>Chick Chick love♡</string>
<key>shortcut</key>
<string>ちくちくらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>アイドル Break All</string>
<key>shortcut</key>
<string>あいどるぶれーくおーる</string>
</dict>
<dict>
<key>phrase</key>
<string>アイドル Break All</string>
<key>shortcut</key>
<string>あいどるぶれいくおーる</string>
</dict>
<dict>
<key>phrase</key>
<string>JUNGLE WAHHOI</string>
<key>shortcut</key>
<string>じゃんぐるわっほい</string>
</dict>
<dict>
<key>phrase</key>
<string>Misty Love</string>
<key>shortcut</key>
<string>みすてぃーらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>Misty Love</string>
<key>shortcut</key>
<string>みすてぃらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>トアルトワ</string>
<key>shortcut</key>
<string>とあるとわ</string>
</dict>
<dict>
<key>phrase</key>
<string>Eat Sleep Dance</string>
<key>shortcut</key>
<string>いーとすりーぷだんす</string>
</dict>
<dict>
<key>phrase</key>
<string>Catch a Fire</string>
<key>shortcut</key>
<string>きゃっちあふぁいやー</string>
</dict>
<dict>
<key>phrase</key>
<string>Catch a Fire</string>
<key>shortcut</key>
<string>きゃっちゃふぁいやー</string>
</dict>
<dict>
<key>phrase</key>
<string>MIDNIGHT TOWN</string>
<key>shortcut</key>
<string>みっどないとたうん</string>
</dict>
<dict>
<key>phrase</key>
<string>アキバサイクル</string>
<key>shortcut</key>
<string>あきばさいくる</string>
</dict>
<dict>
<key>phrase</key>
<string>Love me harder</string>
<key>shortcut</key>
<string>らぶみーはーだー</string>
</dict>
<dict>
<key>phrase</key>
<string>Night Flying</string>
<key>shortcut</key>
<string>ないとふらいんぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>Inverted Pyramid</string>
<key>shortcut</key>
<string>いんばーてぃっどぴらみっど</string>
</dict>
<dict>
<key>phrase</key>
<string>メロディーの抱擁</string>
<key>shortcut</key>
<string>めろでぃーのほうよう</string>
</dict>
<dict>
<key>phrase</key>
<string>CHAMPION GIRL</string>
<key>shortcut</key>
<string>ちゃんぴおんがーる</string>
</dict>
<dict>
<key>phrase</key>
<string>Distortion</string>
<key>shortcut</key>
<string>でぃすとーしょん</string>
</dict>
<dict>
<key>phrase</key>
<string>Intersection</string>
<key>shortcut</key>
<string>いんたーせくしょん</string>
</dict>
<dict>
<key>phrase</key>
<string>Find Me</string>
<key>shortcut</key>
<string>ふぁいんどみー</string>
</dict>
<dict>
<key>phrase</key>
<string>Beat Me!</string>
<key>shortcut</key>
<string>びーとみー</string>
</dict>
<dict>
<key>phrase</key>
<string>爆裂タウマゼイン</string>
<key>shortcut</key>
<string>ばくれつたうまぜいん</string>
</dict>
<dict>
<key>phrase</key>
<string>ウサギとカメ</string>
<key>shortcut</key>
<string>うさぎとかめ</string>
</dict>
<dict>
<key>phrase</key>
<string>No More</string>
<key>shortcut</key>
<string>のーもあ</string>
</dict>
<dict>
<key>phrase</key>
<string>しあわせの魔法</string>
<key>shortcut</key>
<string>しあわせのまほう</string>
</dict>
<dict>
<key>phrase</key>
<string>Sirens in the Beginning</string>
<key>shortcut</key>
<string>さいれんずいんざびぎにんぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>NEW FRONTIER!</string>
<key>shortcut</key>
<string>にゅーふろんてぃあ</string>
</dict>
<dict>
<key>phrase</key>
<string>REIGN</string>
<key>shortcut</key>
<string>れいん</string>
</dict>
<dict>
<key>phrase</key>
<string>We Will</string>
<key>shortcut</key>
<string>うぃーうぃる</string>
</dict>
<dict>
<key>phrase</key>
<string>Sweet Operation</string>
<key>shortcut</key>
<string>すうぃーとおぺれーしょん</string>
</dict>
<dict>
<key>phrase</key>
<string>Spot AA</string>
<key>shortcut</key>
<string>すぽっとえーえー</string>
</dict>
<dict>
<key>phrase</key>
<string>I'm alive with this town</string>
<key>shortcut</key>
<string>あいむあらいぶうぃずでぃすたうん</string>
</dict>
<dict>
<key>phrase</key>
<string>Platinum White</string>
<key>shortcut</key>
<string>ぷらちなほわいと</string>
</dict>
<dict>
<key>phrase</key>
<string>夜明けのアンセム</string>
<key>shortcut</key>
<string>よあけのあんせむ</string>
</dict>
<dict>
<key>phrase</key>
<string>月読のダンス</string>
<key>shortcut</key>
<string>つくよみのだんす</string>
</dict>
<dict>
<key>phrase</key>
<string>Do You Even DJ? 2nd</string>
<key>shortcut</key>
<string>どぅゆーいーぶんでぃーじぇーせかんど</string>
</dict>
<dict>
<key>phrase</key>
<string>Sync My Lights</string>
<key>shortcut</key>
<string>しんくまいらいつ</string>
</dict>
<dict>
<key>phrase</key>
<string>emeth</string>
<key>shortcut</key>
<string>えめと</string>
</dict>
<dict>
<key>phrase</key>
<string>IAM</string>
<key>shortcut</key>
<string>あいあむ</string>
</dict>
<dict>
<key>phrase</key>
<string>麻布アウトバーン</string>
<key>shortcut</key>
<string>あざぶあうとばーん</string>
</dict>
<dict>
<key>phrase</key>
<string>THE ONE</string>
<key>shortcut</key>
<string>ざわん</string>
</dict>
<dict>
<key>phrase</key>
<string>救済のファンタジア</string>
<key>shortcut</key>
<string>きゅうさいのふぁんたじあ</string>
</dict>
<dict>
<key>phrase</key>
<string>Be All Right</string>
<key>shortcut</key>
<string>びーおーるらいと</string>
</dict>
<dict>
<key>phrase</key>
<string>シンデレラ・マジック・ステージ</string>
<key>shortcut</key>
<string>しんでれらまじっくすてーじ</string>
</dict>
<dict>
<key>phrase</key>
<string>禁言</string>
<key>shortcut</key>
<string>きんげん</string>
</dict>
<dict>
<key>phrase</key>
<string>TAKU INOUE</string>
<key>shortcut</key>
<string>たくいのうえ</string>
</dict>
<dict>
<key>phrase</key>
<string>TAKU INOUE</string>
<key>shortcut</key>
<string>いのたく</string>
</dict>
<dict>
<key>phrase</key>
<string>ケンモチヒデフミ</string>
<key>shortcut</key>
<string>けんもちひでふみ</string>
</dict>
<dict>
<key>phrase</key>
<string>DC Mizey</string>
<key>shortcut</key>
<string>でぃーしーみーじー</string>
</dict>
<dict>
<key>phrase</key>
<string>Neko Hacker</string>
<key>shortcut</key>
<string>ねこはっかー</string>
</dict>
<dict>
<key>phrase</key>
<string>市瀬るぽ</string>
<key>shortcut</key>
<string>いちのせるぽ</string>
</dict>
<dict>
<key>phrase</key>
<string>YUC'e</string>
<key>shortcut</key>
<string>ゆーしえ</string>
</dict>
<dict>
<key>phrase</key>
<string>雄之助</string>
<key>shortcut</key>
<string>ゆうのすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>安藤啓希</string>
<key>shortcut</key>
<string>あんどうひろき</string>
</dict>
<dict>
<key>phrase</key>
<string>石濱翔</string>
<key>shortcut</key>
<string>いしはまかける</string>
</dict>
<dict>
<key>phrase</key>
<string>PARKGOLF</string>
<key>shortcut</key>
<string>ぱーくごるふ</string>
</dict>
<dict>
<key>phrase</key>
<string>柿迫ヒカル</string>
<key>shortcut</key>
<string>かきさこひかる</string>
</dict>
<dict>
<key>phrase</key>
<string>半田彬倫</string>
<key>shortcut</key>
<string>はんだあきのり</string>
</dict>
<dict>
<key>phrase</key>
<string>KOTONOHOUSE</string>
<key>shortcut</key>
<string>ことのはうす</string>
</dict>
<dict>
<key>phrase</key>
<string>banvox</string>
<key>shortcut</key>
<string>ばんぼっくす</string>
</dict>
<dict>
<key>phrase</key>
<string>早川博隆</string>
<key>shortcut</key>
<string>はやかわひろたか</string>
</dict>
<dict>
<key>phrase</key>
<string>TEMPLIME</string>
<key>shortcut</key>
<string>てんぷらいむ</string>
</dict>
<dict>
<key>phrase</key>
<string>Moe Shop</string>
<key>shortcut</key>
<string>もえしょっぷ</string>
</dict>
<dict>
<key>phrase</key>
<string>KiWi</string>
<key>shortcut</key>
<string>きうぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>Tomggg</string>
<key>shortcut</key>
<string>とむぐぐぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>Nor</string>
<key>shortcut</key>
<string>のる</string>
</dict>
<dict>
<key>phrase</key>
<string>Aiobahn</string>
<key>shortcut</key>
<string>あいおばーん</string>
</dict>
<dict>
<key>phrase</key>
<string>周防パトラ</string>
<key>shortcut</key>
<string>すおうぱとら</string>
</dict>
<dict>
<key>phrase</key>
<string>Snail's House</string>
<key>shortcut</key>
<string>すねいるはうす</string>
</dict>
<dict>
<key>phrase</key>
<string>佐藤貴文</string>
<key>shortcut</key>
<string>さとうたかふみ</string>
</dict>
<dict>
<key>phrase</key>
<string>PSYQUI</string>
<key>shortcut</key>
<string>さいき</string>
</dict>
<dict>
<key>phrase</key>
<string>tofubeats</string>
<key>shortcut</key>
<string>とうふびーつ</string>
</dict>
</array></plist>
